
body {
  background:#FF851B;
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

h1 {
color: #555753;
text-align: center;
}

#newNote {
text-align: center;
}

#noteBox {
  background:#0074D9;
  border: solid 2px #ccc;
  border-radius: 1%;
  margin: 1% 20%;
  padding-left: 15px;
}

#edit {
float: right;
margin-top: -70px;
margin-right: 6.25%;
}

#delete {
  float: right;
  margin-top: -70px;
}

#date {
  font-size: 75%;
  margin-bottom: 0;
  padding-left: 10px;
  font-style: italic;
}



