
body {
  background:#FF851B;
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

section {
  background: #ccc;
  border: 1px solid #EEE;
  margin: 2% -1%;
}

article {
    background: white;
    margin: 1% 15%;
    padding-top: 1%;
}

h1, h2 {
color: #555753;
text-align: center;
}

button {
  margin-top: 20px;
  background:#0074D9;
  color:#ffffff;
  border-radius: .25em;
  text-align: center;
  padding: .4em;
  font-family:comic;
  font-size:75%;
  border: 1px solid transparent;
}

#loginPage {
  margin: 10% 36%;
}

#Lbox {
  background: white;
  padding: 5%;
  text-align: center;
}

#Lbox h3 {
    background-color: #bbb;
    color: white;
    padding: 4%;
    margin: -5.6%;
    margin-bottom: 4%;
}


#newNote {
text-align: center;
}

#noteBox {
  background: #0074D9;
    border: solid 1.5px #333;
    border-radius: 1%;
    margin: 2% 15%;
    padding-top: 12px;
    padding-left: 15px;
}

#noteBox > p:nth-child(2) {
  margin-top: 0px;
}

#edit {
float: right;
margin-right: 0.25%;
}

#delete {
  float: right;
  margin-right: -6px;
}

#date {
  font-size: 75%;
  margin-bottom: 0;
  padding-left: 10px;
  font-style: italic;
}

#editBox {
  margin: 0% 20%;
  border: solid 2px #ccc;
  border-radius: 2em;
  background: #FFDC00;
  padding: 20px;
  padding-right: 0;
}

#editBox input {
  width: 80%;
  padding: 5px;
}

#editBox label {
  margin: 0 43%;
}

#save {
  margin-left: 25px;
}

#cancel {
  margin-left: -13px;
}

#signOut {
  margin: 0% 0% 0 91%;
}
