
<h1>Parrish Family blog</h1>
<div data-ng-controller="notesCtrl" data-ng-init="index()">
  <div data-new-note-direc save="saveNewNote(resource)" fieldname="'noteBody'" resourcename="Note"></div>

  <div data-ng-repeat="note in notes">
    <div data-ng-hide="note.editing">
    <div id="noteBox">
      <p>{{note.noteBody}}</p>
      <p id="date">{{note.date}} {{note.time}}</p>
      <button id="edit" data-ng-click="note.editing = true">Edit</button>
      <button id="delete" data-ng-click="deleteNote(note)">Delete</button>
      </div>
    </div>
    <div data-ng-show="note.editing">
      <input type="text" data-ng-model="note.noteBody">
      <button data-ng-click="saveNote(note)">Save</button>
      <button data-ng-click="note.editing = false">Cancel</button>
    </div>
  </div>
</div>
